body {
    font-family: Poppins, sans-serif;
    font-size: 13px;
    background-color: rgb(17, 17, 17);
}

/* because this is .css file it actually styles the content too. kinda hacky but w/e for now */
a {
    color: rgb(33, 149, 243);
}

a:focus, a:hover {
    text-decoration-line: underline;
}